<a href="https://colab.research.google.com/github/cloudkowsalya/Banking_Analytics_Using_SQL-and-Python/blob/main/Banking_Analytics_Using_SQL_and_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!apt-get install sqlite3
!pip install pandas

In [ ]:
import sqlite3
import pandas as pd
import os

In [ ]:
connect = sqlite3.connect('my_database.db')

In [ ]:
db_path ="/content/drive/MyDrive/my_database.db"

In [ ]:
db_folder = "/content/drive/MyDrive/sql_db"
os.makedirs(db_folder,exist_ok=True)
db_path = os.path.join(db_folder,'my_database.db')
conn = sqlite3.connect(db_path)
cursor = conn.cursor()
print("Database connected at:",db_path)

Database connected at: /content/drive/MyDrive/sql_db/my_database.db

# 1.CUSTOMER INFORMATION (Bank Customer)
---

In [ ]:
cursor.execute('''
CREATE TABLE CUSTOMER_INFORMATION (customer_id int,
customer_name varchar(20),
address varchar(20),
state_code varchar(20),
telephone varchar(20) );
''')
connect.commit()

In [ ]:
def insert_customer(customer_id,customer_name,address,state_code,telephone):
  cursor.execute("insert into CUSTOMER_INFORMATION values(?,?,?,?,?)",(customer_id,customer_name,address,state_code,telephone) )
connect.commit()

insert_customer(123001, "Oliver", "225-5, Emeryville", "CA", "1897614500")
insert_customer(123002, "George", "194-6, New brighton", "MN", "1897617000")
insert_customer(123003, "Harry", "2909-5, walnut creek", "CA", "1897617866")
insert_customer(123004, "Jack", "229-5, Concord", "CA", "1897627999")
insert_customer(123005, "Jacob", "325-7, Mission Dist", "SFO", "1897637000")
insert_customer(123006, "Noah", "275-9, saint-paul", "MN", "1897613200")
insert_customer(123007, "Charlie", "125-1, Richfield", "MN", "1897617666")
insert_customer(123008, "Robin", "3005-1, Heathrow", "NY", "1897614000")

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("SELECT * FROM CUSTOMER_INFORMATION")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

# 2. CUSTOMER_INFOEXPORT(Bank customer export)

In [ ]:
cursor.execute('''
create table CUSTOMER_INFOEXPORT(customer_id char(10),
customer_name char(20),
address char(20),
state_code char(20),
telephone char(20) );
''')
connect.commit()

In [ ]:
def insert_bank_customer_InfoExport(customer_id,customer_name,address,state_code,telephone):
  cursor.execute("insert into CUSTOMER_INFOEXPORT values(?,?,?,?,?)",(customer_id,customer_name,address,state_code,telephone) )


insert_bank_customer_InfoExport(123001, "Oliver", "225-5, Emeryville", "CA", "1897614500")
insert_bank_customer_InfoExport(123002, "George", "194-6, New brighton", "MN", "189761700")

connect.commit()

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("SELECT * FROM CUSTOMER_INFOEXPORT")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))



# 3.ACCOUNT_DATA(Bank Account Details)

In [ ]:
cursor.execute('''
create table ACCOUNT_DATA(
  Customer_id int,
  Account_Number varchar(19),
  Account_Type varchar(25),
  Balance_Amount int,
  Account_Status varchar(10),
  Relationship_Type varchar(1));
''')
connect.commit()

In [ ]:
def Bank_Account_Data(customer_id, account_no, account_type, balance, status, account_flag):
    query = '''INSERT INTO ACCOUNT_DATA
               VALUES (?, ?, ?, ?, ?, ?)'''
    cursor.execute(query, (customer_id, account_no, account_type, balance, status, account_flag))
connect.commit()

Bank_Account_Data(123001, "4000-1956-3456", "SAVINGS", 200000, "ACTIVE", "P")
Bank_Account_Data(123001, "5000-1700-3456", "RECURRING DEPOSITS", 9400000, "ACTIVE", "S")
Bank_Account_Data(123002, "4000-1956-2001", "SAVINGS", 400000, "ACTIVE", "P")
Bank_Account_Data(123002, "5000-1700-5001", "RECURRING DEPOSITS", 7500000, "ACTIVE", "S")
Bank_Account_Data(123003, "4000-1956-2900", "SAVINGS", 750000, "INACTIVE", "P")
Bank_Account_Data(123004, "5000-1700-6091", "RECURRING DEPOSITS", 7500000, "ACTIVE", "S")
Bank_Account_Data(123004, "4000-1956-3401", "SAVINGS", 655000, "ACTIVE", "P")
Bank_Account_Data(123005, "4000-1956-5102", "SAVINGS", 300000, "ACTIVE", "P")
Bank_Account_Data(123006, "4000-1956-5698", "SAVINGS", 455000, "ACTIVE", "P")
Bank_Account_Data(123007, "5000-1700-9800", "SAVINGS", 355000, "ACTIVE", "P")
Bank_Account_Data(123007, "4000-1956-9977", "RECURRING DEPOSITS", 7025000, "ACTIVE", "S")
Bank_Account_Data(123007, "9000-1700-7777-4321", "CREDITCARD", 0, "INACTIVE", "P")
Bank_Account_Data(123008, "5000-1700-7755", "SAVINGS", None, "INACTIVE", "P")

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("SELECT * FROM ACCOUNT_DATA")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

#4. ACCOUNT_MAPPING (Bank Account Relationship Details)

In [ ]:
cursor.execute('''
CREATE TABLE ACCOUNT_MAPPING (
   Customer_id INT,
   Account_Number VARCHAR(19),
   Account_type VARCHAR(25),
   Linking_Account_Number VARCHAR(19));
   ''')
connect.commit()

In [ ]:
def Bank_Account_Mapping(customer_id, account_no, account_type, linking_account_no):
    query = '''INSERT INTO ACCOUNT_MAPPING
               VALUES (?, ?, ?, ?)'''
    cursor.execute(query, (customer_id, account_no, account_type, linking_account_no))
connect.commit()

Bank_Account_Mapping(123001, "4000-1956-3456", "SAVINGS", "")
Bank_Account_Mapping(123001, "5000-1700-3456", "RECURRING DEPOSITS", "4000-1956-3456")
Bank_Account_Mapping(123002, "4000-1956-2001", "SAVINGS", "")
Bank_Account_Mapping(123002, "5000-1700-5001", "RECURRING DEPOSITS", "4000-1956-2001")
Bank_Account_Mapping(123003, "4000-1956-2900", "SAVINGS", "")
Bank_Account_Mapping(123004, "5000-1700-6091", "RECURRING DEPOSITS", "4000-1956-2900")
Bank_Account_Mapping(123004, "5000-1700-7791", "RECURRING DEPOSITS", "4000-1956-2900")
Bank_Account_Mapping(123007, "5000-1700-9800", "SAVINGS", "")
Bank_Account_Mapping(123007, "4000-1956-9977", "RECURRING DEPOSITS", "5000-1700-9800")
Bank_Account_Mapping(None, "9000-1700-7777-4321", "Credit Card", "5000-1700-9800")
Bank_Account_Mapping(None, "5900-1900-9877-5543", "Add-on Credit Card", "9000-1700-7777-4321")
Bank_Account_Mapping(None, "5800-1700-9800-7755", "Credit Card", "4000-1956-5698")
Bank_Account_Mapping(None, "5890-1970-7706-8912", "Add-on Credit Card", "5800-1700-9800-7755")

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("SELECT * FROM ACCOUNT_MAPPING")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

#5.TRANSACTION LOG (Bank Account Transaction)

In [ ]:
cursor.execute('''
CREATE TABLE TRANSACTION_LOG(
   Account_Number VARCHAR(19),
   Transaction_amount Decimal(18,2) ,
   Transcation_channel VARCHAR(18) ,
   Province varchar(3) ,
   Transaction_Date Date) ;
   ''')

In [ ]:
def Bank_Transaction_Log(account_number, Transaction_amount, Transcation_channel, Province, transaction_date):
    query = '''INSERT INTO TRANSACTION_LOG
               VALUES (?, ?, ?, ?, ?)'''
    cursor.execute(query, (account_number, Transaction_amount, Transcation_channel, Province, transaction_date))
connect.commit()

Bank_Transaction_Log("4000-1956-3456", -2000, "ATM withdrawl" , "CA", "2020-01-13")
Bank_Transaction_Log("4000-1956-2001", -4000, "POS-Walmart"   , "MN", "2020-02-14")
Bank_Transaction_Log("4000-1956-2001", -1600, "UPI transfer"  , "MN", "2020-01-19")
Bank_Transaction_Log("4000-1956-2001", -6000, "Bankers cheque", "CA", "2020-03-23")
Bank_Transaction_Log("4000-1956-2001", -3000, "Net banking"   , "CA", "2020-04-24")
Bank_Transaction_Log("4000-1956-2001", 23000, "cheque deposit", "MN", "2020-03-15")
Bank_Transaction_Log("5000-1700-6091", 40000, "ECS transfer"  , "NY", "2020-02-19")
Bank_Transaction_Log("5000-1700-7791", 40000, "ECS transfer"  , "NY", "2020-02-19")
Bank_Transaction_Log("4000-1956-3401", 8000, "Cash Deposit"  , "NY", "2020-01-19")
Bank_Transaction_Log("4000-1956-5102", -6500, "ATM withdrawal" , "NY", "2020-03-14")
Bank_Transaction_Log("4000-1956-5698", -9000, "Cash Deposit"  , "NY", "2020-03-27")
Bank_Transaction_Log("4000-1956-9977", 50000, "ECS transfer"  , "NY", "2020-01-16")
Bank_Transaction_Log("9000-1700-7777-4321", -5000, "POS-Walmart", "NY", "2020-02-17")
Bank_Transaction_Log("9000-1700-7777-4321", -8000, "Shopping Cart", "MN", "2020-03-13")
Bank_Transaction_Log("9000-1700-7777-4321", -2500, "Shopping Cart", "MN", "2020-04-21")
Bank_Transaction_Log("5800-1700-9800-7755", -9000, "POS-Walmart","MN", "2020-04-13")
Bank_Transaction_Log("5890-1970-7706-8912", -11000, "Shopping Cart" , "NY" , "2020-03-12")
Bank_Transaction_Log('4000-1956-9977', 10000.00, 'ECS transfer', 'MN', '2020-02-16')
Bank_Transaction_Log('4000-1956-9977', 40000.00, 'ECS transfer', 'MN', '2020-03-18')
Bank_Transaction_Log('4000-1956-9977', 60000.00, 'ECS transfer', 'MN', '2020-04-18')
Bank_Transaction_Log('4000-1956-9977', 20000.00, 'ECS transfer', 'MN', '2020-03-20')
Bank_Transaction_Log('4000-1956-9977', 49000.00, 'ECS transfer', 'MN', '2020-06-18')

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("SELECT * FROM TRANSACTION_LOG")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

#6. CUSTOMER_ALERTS (Bank Customer Messages)

In [ ]:
cursor.execute('''
create table CUSTOMER_ALERTS(
  Event varchar(24),
  Customer_Message varchar(75),
  Notice_Delivery_Mode varchar(15));
''')
connect.commit()

In [ ]:
def Bank_Customer_Alerts(Event, Customer_message, Notice_delivery_mode):
    query = '''INSERT INTO CUSTOMER_ALERTS
               VALUES (?, ?, ?)'''
    cursor.execute(query, (Event, Customer_message, Notice_delivery_mode))
connect.commit()

Bank_Customer_Alerts("Adhoc", "All Banks are closed due to announcement of National strike", "mobile")
Bank_Customer_Alerts("Transaction Limit", "Only limited withdrawals per card are allowed from ATM machines", "mobile")

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("SELECT * FROM CUSTOMER_ALERTS")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

#7. INTEREST_INFO (Bank Interest Rate)

In [ ]:
cursor.execute('''
    create table INTEREST_INFO(
      Account_Type varchar(24),
      Intrest_Rate decimal(4,2),
      Month varchar(2),
      Year varchar(4));
''')
connect.commit()

In [ ]:
def Bank_Intrest_Info(account_type,Intrest_Rate,Month,Year):
  cursor.execute("insert into INTEREST_INFO values(?,?,?,?)",(account_type,Intrest_Rate,Month,Year))
connect.commit()

Bank_Intrest_Info("SAVINGS",0.04,"02","2020")
Bank_Intrest_Info("RECURING DEPOSITS",0.07,"02","2020")
Bank_Intrest_Info("PRIVILEGED_INTERST_RATE",0.08,"02","2020")

In [ ]:
from tabulate import tabulate

#fetch data
cursor.execute("SELECT * FROM INTEREST_INFO")
rows = cursor.fetchall()

#Get column names
column_names = [desc[0] for desc in cursor.description]

#print in tabulate format
print(tabulate(rows,headers=column_names,tablefmt='grid'))

# 1) Print customer Id, customer name and average account_balance maintained by each customer for all  of his/her accounts in the bank.(8 Rows)

In [ ]:
query = ('''SELECT
    c.customer_id,
    c.customer_name,
    AVG(a.Balance_Amount) AS avg_balance
FROM CUSTOMER_INFORMATION c
JOIN ACCOUNT_DATA a
    ON c.customer_id = a.Customer_id
GROUP BY c.customer_id, c.customer_name;
''')
result = pd.read_sql_query(query,conn)
headers = [desc[0] for desc in cursor.description]
print(tabulate(result,headers=headers,tablefmt='grid'))

# 2.Print customer_id , account_number and balance_amount , condition that if balance_amount is nil then assign transaction_amount  for account_type = "Credit Card"(4 Rows)

In [ ]:
query =('''
    select
    m.Customer_id,
    d.Account_Number,
    COALESCE(d.Balance_Amount, t.Transaction_amount) AS final_balance
FROM ACCOUNT_DATA d
JOIN ACCOUNT_MAPPING m
    ON d.Account_Number = m.Account_Number
LEFT JOIN TRANSACTION_LOG t
    ON d.Account_Number = t.Account_Number
WHERE d.Account_Type = 'Credit Card'
LIMIT 4;''')
result = pd.read_sql_query(query,conn)

print(tabulate(result,headers='keys',tablefmt='grid'))

# 3.Print account_number and balance_amount , transaction_amount,Transaction_Date from Bank_Account_Details and bank_account_transaction for all the transactions occurred during march,2020 and april, 2020(12 Rows)

In [ ]:
query ='''
SELECT
    d.Account_Number,
    d.Balance_Amount,
    t.Transaction_amount,
    t.Transaction_Date
FROM ACCOUNT_DATA d
JOIN TRANSACTION_LOG t
    ON d.Account_Number = t.Account_Number
WHERE strftime('%m', t.Transaction_Date) IN ('03', '04')
  AND strftime('%Y', t.Transaction_Date) = '2020'
ORDER BY t.Transaction_Date;'''

result = pd.read_sql_query(query,conn)
print(tabulate(result,headers='keys',tablefmt='grid'))

# 4.Print all of the customer id, account number,  balance_amount, transaction_amount , Transaction_Date  from bank_customer, Bank_Account_Details and bank_account_transaction tables where excluding all of their transactions in march, 2020  month (22 Rows)

In [ ]:
query='''
SELECT
    c.Customer_ID,
    d.Account_Number,
    d.Balance_Amount,
    t.Transaction_Amount,
    t.Transaction_Date
FROM CUSTOMER_INFORMATION c
JOIN ACCOUNT_DATA d
    ON c.Customer_ID = d.Customer_ID
JOIN TRANSACTION_LOG t
    ON d.Account_Number = t.Account_Number
WHERE NOT (
    strftime('%m', t.Transaction_Date) = '03'
    AND strftime('%Y', t.Transaction_Date) = '2020'
)
ORDER BY c.Customer_ID, t.Transaction_Date;'''

result = pd.read_sql_query(query,conn)
print(tabulate(result,headers='keys',tablefmt='grid'))

#5.Print only the customer id, account_number, balance_amount,transaction_amount ,transaction_date who did transactions during the first quarter. Do not display the accounts if they have not done any transactions in the first quarter.(16 Rows)

In [ ]:
query='''
SELECT
    c.Customer_ID,
    d.Account_Number,
    d.Balance_Amount,
    t.Transaction_Amount,
    t.Transaction_Date
FROM CUSTOMER_INFORMATION c
JOIN ACCOUNT_DATA d
    ON c.Customer_ID = d.Customer_ID
JOIN TRANSACTION_LOG t
    ON d.Account_Number = t.Account_Number
WHERE strftime('%Y', t.Transaction_Date) = '2020'
  AND strftime('%m', t.Transaction_Date) IN ('01','02','03')
ORDER BY c.Customer_ID, t.Transaction_Date;'''

result = pd.read_sql_query(query,conn)
print(tabulate(result,headers='keys',tablefmt='grid'))

#6.Print account_number, Event and Customer_message from BANK_CUSTOMER_MESSAGES and Bank_Account_Details to display an “Adhoc" Event for all customers who have  “SAVINGS" account_type account.(8 Rows)

In [ ]:
query = '''
SELECT
    d.Account_Number,
    m.Event,
    m.Customer_Message
FROM ACCOUNT_DATA d
JOIN CUSTOMER_ALERTS m
    ON m.Event = 'Adhoc'
WHERE d.Account_Type = 'SAVINGS';
'''

cursor.execute(query)
rows = cursor.fetchall()
headers = [desc[0] for desc in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))

#7.Print all Customer_id, Account_Number, Account_type, and display deducted balance_amount by  subtracting only negative transaction_amounts for Relationship_type ="P" ( P - means  Primary , S - means Secondary ) .(27 Rows)

In [ ]:
query='''
SELECT
    m.Customer_ID,
    d.Account_Number,
    d.Account_Type,
    d.Balance_Amount + COALESCE(SUM(
        CASE
            WHEN t.Transaction_Amount < 0 THEN t.Transaction_Amount
            ELSE 0
        END
    ), 0) AS Deducted_Balance
FROM ACCOUNT_MAPPING m
JOIN ACCOUNT_DATA d
    ON m.Account_Number = d.Account_Number
LEFT JOIN TRANSACTION_LOG t
    ON d.Account_Number = t.Account_Number
WHERE d.Relationship_Type = 'P'
GROUP BY m.Customer_ID, d.Account_Number, d.Account_Type, d.Balance_Amount
ORDER BY m.Customer_ID;'''


cursor.execute(query)
rows = cursor.fetchall()
headers = [desc[0] for desc in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))

#8 a)Display records of All Accounts , their Account_types, the transaction amount.

In [ ]:
query = '''
SELECT
    d.Account_Number,
    d.Account_Type,
    t.Transaction_Amount
FROM ACCOUNT_DATA d
LEFT JOIN TRANSACTION_LOG t
    ON d.Account_Number = t.Account_Number
ORDER BY d.Account_Number;
'''

cursor.execute(query)
rows = cursor.fetchall()
headers = [desc[0] for desc in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))

#8 b) Along with first step, Display other columns with corresponding linking account number, account types (15 Rows)

In [ ]:
query = '''
SELECT
    d.Customer_ID,
    d.Account_Number,
    d.Account_Type,
    d.Balance_Amount,
    t.Transaction_Amount,
    t.Transaction_Date,
    t.Transcation_Channel,
    t.Province
FROM ACCOUNT_DATA d
LEFT JOIN TRANSACTION_LOG t
    ON d.Account_Number = t.Account_Number
ORDER BY d.Account_Number, t.Transaction_Date;
'''

cursor.execute(query)
rows = cursor.fetchall()
headers = [desc[0] for desc in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))

#9a) Display records of All Accounts , their Account_types, the transaction amount

In [ ]:
query = '''
SELECT
    a.Account_Number,
    a.Account_Type,
    t.Transaction_Amount
FROM ACCOUNT_DATA a
JOIN TRANSACTION_LOG t
    ON a.Account_Number = t.Account_Number
ORDER BY a.Account_Number;
'''

cursor.execute(query)
rows = cursor.fetchall()
headers = [description[0] for description in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))

#9 b) Along with first step, Display other columns with corresponding linking account number, account types

In [ ]:
query = '''
SELECT
    a.Account_Number,
    a.Account_Type,
    a.Balance_Amount,
    t.Transaction_Amount,
    t.Transaction_Date
FROM ACCOUNT_DATA a
JOIN TRANSACTION_LOG t
    ON a.Account_Number = t.Account_Number
ORDER BY a.Account_Number, t.Transaction_Date;
'''

cursor.execute(query)
rows = cursor.fetchall()
headers = [description[0] for description in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))

#9 c) After retrieving all records of accounts and their linked accounts, display the   transaction amount of accounts appeared  in another column.(26 Rows)

In [ ]:
query = '''
SELECT
    a.Account_Number,
    m.Linking_Account_Number,
    a.Account_Type,
    a.Balance_Amount,
    t.Transaction_Amount AS Account_Transaction,
    t2.Transaction_Amount AS Linked_Account_Transaction
FROM ACCOUNT_DATA a
JOIN ACCOUNT_MAPPING m
    ON a.Account_Number = m.Account_Number
LEFT JOIN TRANSACTION_LOG t
    ON a.Account_Number = t.Account_Number
LEFT JOIN TRANSACTION_LOG t2
    ON m.Linking_Account_Number = t2.Account_Number
ORDER BY a.Account_Number;
'''

cursor.execute(query)
rows = cursor.fetchall()
headers = [description[0] for description in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))

#10) Display all saving account holders have “Add-on Credit Cards" and “Credit cards" (3 Rows)

In [ ]:
query = '''
SELECT DISTINCT
    c.Customer_ID,
    c.Customer_Name,
    s.Account_Number AS Savings_Account,
    cc.Account_Number AS Credit_Card_Account,
    ac.Account_Number AS AddOn_Credit_Card_Account
FROM CUSTOMER_INFORMATION c
JOIN ACCOUNT_DATA s
    ON c.Customer_ID = s.Customer_ID AND s.Account_Type = 'SAVINGS'
JOIN ACCOUNT_DATA cc
    ON c.Customer_ID = cc.Customer_ID AND cc.Account_Type = 'CREDIT CARD'
JOIN ACCOUNT_DATA ac
    ON c.Customer_ID = ac.Customer_ID AND ac.Account_Type = 'ADD-ON CREDIT CARD'
ORDER BY c.Customer_ID;
'''

cursor.execute(query)
rows = cursor.fetchall()
headers = [description[0] for description in cursor.description]

print(tabulate(rows, headers=headers, tablefmt="grid"))